<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/Avail.css" />
  <body>

    <nav class="navbar navbar-expand-lg" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand ms-2" href="#"><img
            src="image/LOGO .png"
            alt=""
            width="45vw"
          /></a>
        <a class="navbar-brand px-1" id="hname" href="#">Raktkosh</a>
        <button
          class="navbar-toggler bg-dark-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="/Homepage"
              >Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="#"
              >About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="#"
              >Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="distrit">

      <div class="dist"><a href="#" id="Angul">Angul</a></div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>
      <div class="dist">Angul</div>

    </div>

    <div class="contaner">
      <div class="leftCont">
        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Angul</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Angul</h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Boudh</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Boudh</h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Balangire</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Balangire</h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Bargarh</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Bargarh</h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Balasore</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Balasore</h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Bhadrak</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Bhadrak</h6>
              <p class="card-text">Avl Blood = 30 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Cuttack</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              >City Hospital, Cuttack</h6>
              <p class="card-text">Avl Blood = 60 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 19rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Deogarh</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Deogarh</h6>
              <p class="card-text">Avl Blood = 40 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Dhenkanal</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Dhenkanal</h6>
              <p class="card-text">Avl Blood = 50 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Ganjam</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              >City Hospital, Berhampur
              </h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Gajapati</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Gajapati </h6>
              <p class="card-text">Avl Blood = 20 unit</p>
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

        <span>
          <div class="card mt-2" id="Cbox" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title overflow-y-hidden">Jharsugudae</h5>
              <h6
                class="card-subtitle mb-2 text-body-secondary overflow-y-hidden"
              > D.H.H Jharsugudae</h6>
              <p class="card-text">Avl Blood = 20 unit</p>

              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Address</a>
            </div>
          </div>
        </span>

      </div>
    </div>

  </body>
  <script src="Js/Login.js"></script>
</html>